<mat-toolbar color="primary" fxLayoutGap="8px">
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <a mat-icon-button routerLink="/home">
    <mat-icon svgIcon="lime"></mat-icon>
    <span class="mat-h2">Limoni</span>
  </a>
  <span class="flex-spacer"></span>
  <button mat-icon-button mat-mini-fab routerLink="/user/profile" matTooltip="Profile"
    aria-label="User Profile">
    <mat-icon>account_circle</mat-icon>
  </button>
  <button mat-icon-button mat-mini-fab routerLink="/user/logout" matTooltip="Logout"
    aria-label="Logout">
    <mat-icon>lock_open</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
