<mat-toolbar color="primary">
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <mat-icon svgIcon="lime"></mat-icon>
  <a mat-button routerLink="/home">
    <h1>LemonMart</h1>
  </a>
  <span class="flex-spacer"></span>
  <button mat-icon-button mat-mini-fab routerLink="/user/profile" matTooltip="Profile"
    aria-label="User Profile">
    <mat-icon>account_circle</mat-icon>
  </button>
  <button mat-icon-button mat-mini-fab routerLink="/user/logout" matTooltip="logout"
    aria-label="Logout">
    <mat-icon>lock_open</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
