<form class="select" [formGroup]="categoryForm">
  <label for="category">Browse by Category:</label>
  <select formControlName="category" id="category">
    <option value="All Categories" selected>All Categories</option>
    <option value="bread">bread</option>
    <option value="fruits">fruits</option>
    <option value="vegetables">vegetables</option>
    <option value="pulses and beans">pulses and beans</option>
  </select>
</form>
<div class="container">
  <div class="items"
    *ngFor="let product of products | paginate: { itemsPerPage: 9, currentPage: product };let i=index;">
    <img [attr.alt]="product.name" mat-card-image [src]="product.imageUrl">
    <p>{{product.name}}</p>
    <p>{{product.price | currency}}</p>
    <div *ngIf="addToCart === i">
      <form #f="ngForm">
        <label style="padding-right:1rem">Quantity</label>
        <input name="quantity" type="number" min="1" required ngModel>
        <button [disabled]="f.invalid" (click)="buy(product,f)" type="button">Buy</button>
      </form>
    </div>
    <a class="btn" (click)="onAddToCart(i)">Add to Cart</a>
  </div>
</div>
<pagination-controls (pageChange)="product = $event"></pagination-controls>
